@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
header{
    /* background-color: chocolate; */
    padding: 14px;
}
h1{
    font-size: 32px;
}
h3{
    width: 100%;
    padding-bottom: 12px;
}
h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 12px;
}
h4{
    padding: 6px 0px;
}


.container{
            /* Grille anti-debordement+centrer */
            /* background-color: rgb(0, 251, 255); */
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn{
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 30px;
}
.card{
    width: fit-content;
    width: 267px;
}
.bold{
    font-weight: 600;
}
.bgYellow{
    background-color: #F3C827;
}
.mrgnAuto{
    margin: auto;
}

/* ---Le trio de choc--- */
.alignItemsCenter{
    align-items: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.spaceBetween{
    justify-content: space-between;
}
/* ---Le trio de choc--- */
.spcArnd{
    justify-content: space-around;
}
.flxClmn{
    flex-direction: column;
}
.tac{
    text-align: center;
}

/* Widths and Heights */
.ChildWidth45{
    max-width: 45%;
}
.ChildWidth30{
    max-width: 30%;
}
.ChildWidth26{
    max-width: 26%;
}
.Height50vh{
    height: 50vh;
}
.maxWidth300px{
    max-width: 300px;
}
/* Paddings */
.pdng50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pdng10{
padding: 10px;
}
.pdng13{
    padding: 13px 0px;
}
.pdng32{
    padding: 32px;
}
.pdng5{
    padding: 5px 0px;
}
.pdng5Left-Right{
    padding: 0px 5px;
}
.mrgn5{
    margin: 5px;
}


.basket{
    color: #F3C827;
    font-size: 26px;
}
.navHeader{
    /* background-color: chartreuse; */
    width: 50%;
}
/* Début Hero */
.hero{
    height: 100vh;
}
.hero h2{
    font-family: "WindSong", cursive;
    font-size: 128px;
    font-weight:500;
}
.dsplBlock{
    display: block;
}
.dsplInLine{
   display: inline; 
}